<!--==================== HEADER ====================-->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">
            Landchain <i class='bx bxs-home-alt-2'></i>
        </a>
        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="/" class="nav__link active-link">
                        <i class='bx bx-home-alt-2'></i>
                        <span>Home</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/user" class="nav__link">
                        <i class='bx bx-building-house' style='color:#000' ></i>
                        <span>User</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="/govtauth" class="nav__link">
                    <i class='bx bxs-award' style='color:#000' ></i>
                        <span>Govt Auth</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#contact" class="nav__link">
                        <i class='bx bx-phone'></i>
                        <span>Contacts</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Theme change Button -->
        <i class='bx bx-moon change-theme'  id="theme-button"></i>

        <a href="#" class="button nav__button">
            Subscribe
        </a>
    </nav>
</header>